@font-face {
    font-family: 'Geometria';
    src: url('./fonts/Geometria-Regular.woff2') format('woff2'),
    url('./fonts/Geometria-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/Geometria-Bold.woff2') format('woff2'),
    url('./fonts/Geometria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/Geometria-Medium.woff2') format('woff2'),
    url('./fonts/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



.swiper-build {
    overflow: hidden;
}

.swiper-build .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
}

.swiper-build .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
}

.swiper-build.swiper-container-multirow-column > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-build.swiper-container-autoheight .swiper-slide {
    height: auto;
}

.swiper-build.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform;
}


@media (min-width: 991.98px) {
    .header__logo img {
        width: 155px !important;
        height: 43px !important;
    }
}

@media (max-width: 991.98px) {
    .header__logo img {
        width: 102px !important;
        height: 27px !important;
    }
}

@media (min-width: 991.98px) {
    .header__menu2 a {
        color: #1E1E1E !important;
    }
}

@media (min-width: 767.98px) {
    .page__banner {
        background-attachment: initial !important;
        margin-top: 100px !important;
        background-position: center top !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-image: url("./img/main-banner.jpg") !important;
        height: 100vh !important;
        min-height: 600px !important;

    }

}

@media (max-width: 767.98px) {
    .page__banner {
        margin-top: 20px;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        background-position: center 20px !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-image: url("./img/main-banner-mobile.jpg") !important;
        height: 100vh !important;
        min-height: 550px !important;
    }

}

@media (max-width: 360.98px) {
    .page__banner_bottom {
        max-width: 300px;
        background-size: contain !important;
    }
}

.brands__square {
    background: #fff !important;
}

.page__content {
    background: #fff !important;
}

.base-title {
    font-family: 'Geometria';
    font-weight: 500;
    font-size: 56px;
    text-align: center;
    color: #101820;
    line-height: 100% !important;
    margin-bottom: 50px;
}

@media (max-width: 767.98px) {
    .base-title {
        font-family: 'Geometria';
        font-size: 24px;
        margin-bottom: 20px;
    }

    .base-title br {
        display: none;
    }

}

.base-slider {
    margin-bottom: 160px;
}

[data-tab-content] {
    display: none;
}

[data-tab-content].active {
    display: block;
}

.base-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    margin-top: 60px;
}

.base-buttons__item {
    font-family: 'Geometria';
    margin: 0 64px 0 0;
    padding: 0 0 8px 0;
    font-size: 22px;
    line-height: 100%;
    outline: none;
    color: #000;
    border: none;
    background: none;
    transition: all 0.3s ease 0s;
    border-bottom: 1px solid transparent;
    opacity: 0.6;
}

@media (max-width: 767.98px) {
    .base-buttons__item {
        font-family: 'Geometria';
        font-size: 16px;
        margin-right: 24px;
    }

    .base-buttons {
        margin-bottom: 60px;
    }
}

.base-buttons__item.active {
    opacity: 1;
    border-color: #101820;

}

.base-buttons__item:last-child {
    margin: 0 !important;
}

footer {
    min-height: 80px !important;
    padding: 5px 0 !important;
    background: #FFFFFF !important;
    box-shadow: 0px -6px 27px rgba(210, 210, 210, 0.25) !important;
}

.footer__logo {
    width: 155px !important;
    height: 43px !important;
    margin: 0 !important;
}

@media (max-width: 991.98px) {
    .footer__logo {
        width: 102px !important;
        height: 27px !important;
    }

    footer {
        min-height: 55px;
    }

    .swiper-wrapper {

    }

    .base-slider .swiper-wrapper {
        align-items: center;
    }
    .base-slider img {
        transition: all 0.3s ease 0s;
    }

    /*.base-slider .swiper-slide {*/
    /*    transform: scale(1);*/
    /*    transition: transform .2s ease;*/
    /*}*/
}

.page__content {
    overflow: hidden;
}

.base-content__description {
    max-width: 770px;
    margin: 0 auto;
    text-align: center;

}

.base-content__description p {
    font-family: 'Geometria';
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 32px;
}

.container {
}

.base-slider__body {
}

.swiper {
}

.base-slider__slide {
    height: 420px !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (min-width: 991.98px) {
    .base-slider__slide {

        width: calc(25% - 20px) !important;
    }
    .base-slider__slide_big {

        width: calc(30% - 20px) !important;
    }
    .base-slider__slide_small {

        width: calc(20% - 20px) !important;
    }
}

.base-slider__slide img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}


@media (min-width: 991.98px) {
    .base-slider .swiper-wrapper {
        transform: none !important;
    }

}

@media (max-width: 991.98px) {
    .base-content__description p {
        font-family: 'Geometria';
        font-size: 16px;
    }

    .base-slider__body_second .swiper-slide-active {
        height: 360px !important;
    }
    .base-slider__body_second .base-slider__slide img {
        height: 100%;
        object-fit: cover;
    }
    .base-slider {
        margin-bottom: 50px !important;
    }

    .base-slider .swiper-build {
        overflow: visible !important;
    }

    .base-slider__slide {
        height: 320px !important;
    }
}

@media (min-width: 360.98px) {
    .page__banner_bottom {
        background-attachment: initial !important;
        background-size: contain !important;
        min-height: 500px !important;
        height: 500px !important;
        background-image: url("./img/about/each.jpg") !important;
        background-position: center center !important;
    }
}

@media (min-width: 1300.98px) {
    .page__banner_bottom {

        min-height: 719px !important;
        height: 719px !important;

    }
}
@media (min-width: 360.98px) {
    .page__banner_bottom {
        max-width: none;
    }
}
@media (max-width: 360.98px) {
    .page__banner_bottom {

        background-attachment: initial !important;
        background-size: contain !important;
        min-height: 410px !important;
        height: 410px !important;
        background-image: url("./img/about/each-mobile.jpg") !important;
    }

}

@media (min-width: 767.98px) {
    .base-button-up {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .base-button-up {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 27px rgba(210, 210, 210, 0.25);
        border-radius: 7px;
        min-height: 60px;
        width: 100%;
        color: #87877b;
        font-weight: 500;
    }
}
.brands__square:hover .brands__simg {
    transition: all 0.4s ease 0s !important;
}
.brands__square:hover .brands__simg {
    transform: scale(0.95) translateY(100%);
    opacity: 0;
    transition: none !important;
}

.base-ice-cream img {
    max-width: 920px;
    margin: 0 auto;
}
@media (max-width: 1400.98px) {
    .base-ice-cream img {
        max-width: 600px;
    }

}
@media (max-width: 991.98px) {
    .base-ice-cream img {
        max-width: 394px;
        width: 100%;
    }
}
.brands__hover {
    visibility: hidden;
}
.brands__square {
    overflow: visible !important;
}
.hover-brands__body {
    z-index: 888;
    /*border-radius: 50%;*/
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
}
@media (min-width: 1200.98px) {
    .hover-brands__body {
        width: 480px;
        height: 480px;
    }
}

/*@media (min-width: 767.98px) and (max-width: 991.98px) {*/
/*    .hover-brands__row {*/
/*        padding-top: 80px !important;*/
/*    }*/
/*}*/
@media (min-width: 991.98px) and (max-width: 1200.98px) {
    .hover-brands__body {
        width: 400px;
        height: 400px;
    }
    .hover-brands__row {
        padding: 0 40px;
    }
}
.container {
    max-width: 1600px !important;
}
.hover-brands__circle {
    transform: scale(0);
    visibility: hidden;
    z-index: 889;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.3s ease 0.2s;
}




    /*.hover-brands__body::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    border-radius: 200px 200px 0 0;*/
/*    background: #fff;*/
/*    width: calc(100% + 40px);*/
/*    height: 50%;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    transform: translate(-50%, 0);*/
/*}*/

@media (max-width: 991.98px) {
    .hover-brands__title {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        color: #FFFFFF;
        padding-top: 20px;
        margin-bottom: 20px;
        position: relative;
        z-index: 900;
    }

}

.hover-brands__row {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0.2s;
    position: relative;
    z-index: 900;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding: 0 50px;

}

@media (min-width: 991.98px) {
    .hover-brands__row {
        padding-top: 135px !important;
    }

}
.hover-brands__column {
    width: 50%;
    flex: 0 0 50%;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
    padding: 0 10px;
}
.hover-brands__column_big {
    flex: 1 1 100% !important;
    width: 100%;
}
.hover-brands__image {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0.3s;
    z-index: 999;
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%, 45%);
}

.hover-brands__pieces {
    left: 50%;
    z-index: 900;
    bottom: 90px;
    transform: translate(-50%, 50%) scale(0);
    position: absolute;
    transition: all 0.25s ease 0.42s;

    visibility: hidden;
}


.hover-brands__image img {
    width: 250px;
    height: 290px;
    object-fit: contain;
}

.hover-brands__pieces img {
    height: 240px;
    object-fit: contain;
}

@media (max-width: 1150.98px) {
    .hover-brands__image img {
        width: 197px;
        height: 207px;
    }
    .hover-brands__less {
        bottom: -36px;
    }
    .hover-brands__pieces img {
        height: 168px;

    }
    .hover-brands__row {
        padding-top: 110px !important;
    }
}

.brands__square.active {
    visibility: visible !important;
}
.brands__title {
    transition: all 0.3s ease 0.2s;
    z-index: 890;
    margin-bottom: 5px;
    min-height: 70px;
}

@media (max-width: 991.98px) {
    .brands__square.active .brands__title {
        opacity: 0 !important;
        visibility: hidden !important;
    }
}
.brands__square .hover-brands__row {
    z-index: 890;
}
.brands__square.active .brands__title {
    color: #fff;
}
.brands__square.active .brands__hover {
    visibility: visible !important;
}
.brands__square.end .hover-brands__pieces {
    transition: all 0.3s ease 0s;
}
.brands__square.end .hover-brands__circle {
    transition: all 0.3s ease 0s;
}
.brands__square.end .hover-brands__image {
    transition: all 0.3s ease 0s;
}

.brands__square.end .hover-brands__row {
    transition: all 0.3s ease 0s;
}
.brands__square.active .hover-brands__circle {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    top: 0;
}

.brands__title {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #101820;
    text-align: center;
}
@media (max-width: 767.98px) {
    .brands__title {
        font-size: 20px;
        margin-top: 2px;
        margin-bottom: 8px;
    }
    .brands__more {
        font-size: 13px !important;
    }
    .hover-brands__less {
        font-size: 13px !important;
    }
}
.brands__bimg {
    min-height: 280px;
}
.brands__simg {
    height: 280px;
}
@media (min-width: 767.98px) {
    .brands__square {
        height: 100%;
    }
    .brands__bimg {
        min-height: 360px;
        flex: 1 1 auto;
        margin-bottom: 20px;
    }
    .brands__simg {
        height: 350px;
    }
}
.brands__square {
    height: auto !important;
}
.brands__more {
    transition: all 0.2s ease 0s;
    font-family: "Geometria";
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    align-self: center;
    color: #101820;
    text-decoration: underline;
    position: relative;
    z-index: 800;
    display: inline-block;
}

.hover-brands__less {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0.2s;
    font-family: "Geometria";
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    margin: 0;

    display: inline-block;
    color: #878b8f;
    position: relative;
    z-index: 999;
    cursor: pointer;
    bottom: -46px;
    left: 50%;
    transform: translate(-50%, 0);
    text-decoration: underline;
}

.brands__square.active .hover-brands__less {
    transition: all 0.3s ease 0s;
}
.brands__square:hover .brands__simg {
    transform: scale(1) translateY(0);
    opacity: 1;
}
/*@keyframes ice-cream-ease {*/
/*    0% {*/
/*        transform: scale(1) translateY(0) !important;*/
/*        opacity: 1 !important;*/
/*    }*/
/*    100% {*/
/*        transform: scale(0.95) translateY(100%) !important;*/
/*        opacity: 0 !important;*/
/*    }*/
/*}*/

.brands__square.end .brands__simg {
    transform: scale(1) translateY(0) !important;
    opacity: 1 !important;
    transition: none !important;
}

.brands__square.active .hover-brands__image {

    transform: translate(-50%, 45%);
    opacity: 1;
    visibility: visible;
}
.brands__square.active .hover-brands__less {
    opacity: 1;
    visibility: visible;
}

.brands__square.active .hover-brands__pieces {
    opacity: 1;
    visibility: visible;

    transform: translate(-50%, 40%) scale(1);
}

.brands__square.active .hover-brands__row {
    opacity: 1;
    visibility: visible;
    position: relative;
    z-index: 900;
}

.brands__square.active .hover-brands__title {
    opacity: 1;
    transition: all 0.3s ease 0.2s;
    visibility: visible;

}

.brands__square.active .brands__more {
    opacity: 0;
    visibility: hidden;
}

.brands__square .hover-brands__background {
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
}
.brands__square.active .hover-brands__background {
    opacity: 1;
    visibility: visible;
}


@media (max-width: 991.98px) {

    .hover-brands__less {
        bottom: -50px;
    }
    .hover-brands__body {
        max-width: 400px;
        width: 100% !important;
        height: 100% !important;
        padding: 70px 10px 0;
    }
    .hover-brands__row {
        padding: 0 30px;
        margin: 0 -5px;
    }

    .hover-brands__column {
        font-size: 13px;
        padding: 0 5px;

    }
    .hover-brands__background img {
        object-fit: contain;
        z-index: 800;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }

}
@media (max-width: 767.98px) {

}
@media (max-width: 991.98px) {
    .hover-brands__circle {
        display: none;
    }
    .brands__more {
        margin-top: 10px;
    }
    .hover-brands__row {
        padding-top: 10px !important;
    }
    .brands__square.active .hover-brands__image {
        transform: translate(-50%, 50%) !important;
    }
    .hover-brands__pieces {
        transform: translate(-50%, 55%) scale(1) !important;
    }
}
@media (min-width: 991.98px) {
    .hover-brands__background {
        display: none;
    }
}

@media (max-width: 400.98px) {
    .hover-brands__row {
        padding: 0 5px;

    }
    .hover-brands__body {
        padding: 95px 5px 0;
    }
    .hover-brands__pieces,
    .hover-brands__image {
        bottom: 60px;
    }
}

@media (max-width: 500.98px) {
    .hover-brands__body {
        padding-top: 150px !important;
    }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .hover-brands__body {
        padding-top: 140px !important;
    }
}
/*Временно убираем cookie*/

.cookies {
    display: none !important;
}
